
{% extends "Blog/base.html" %}
{% block content %}
<div class="content">
	<div class="container-fluid">
 
 
	  <div class="row">
	  <div class="col-lg-12 col-md-10">
		  <div class="card">
			<div class="card-header card-header-info">
			  <h4 class="card-title">Hote List</h4>
			  <p class="card-category"></p>
			</div>
			<div class="card-body table-responsive">
			  <table class="table table-hover">
				<thead class="text-warning">
					<th>Name</th>
					<th>Description</th>
                    <th>Adresse</th>
                    <th>telephone</th>
					<th>File</th>
					<th></th>
				</thead>
				<tbody>
					{% for hote in hotes %}

                    <tr>

						
                        <td>{{hote.name}}</td>
                        <td>{{hote.description}}</td>
                        <td>{{hote.adresse}}</td>
                        <td>{{hote.telephone}}</td>
                        <td>{{hote.Image}}</td>
                        <td>
							<td><a class="btn btn-info btn-sm" href="/edit_hote/{{ hote.id_hote }}">Edit</a>
								<a class="btn btn-warning btn-sm" href="/delete_hote/{{ hote.id_hote }}">Delete</a>
							</td>                        </td>                    
				{% endfor %}

				  </tr>
				  <a class="btn btn-info" href="/add_hote/">Add hote</a>

				 
				
				</tbody>
			  </table>
			</div>
		  </div>
		</div>
		
	  </div>
	</div>
  </div>
{% endblock content %}