


{% load crispy_forms_tags %}

{% block content %}
<html>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>



</style>
<body >
  <div class="container" style="color: aliceblue"> 
              
        <div class="row" class="content" >
                <div class="col-6 col-md-4"></div>
                <div class="col-6 col-md-4">
                        <form method="POST" >
                    
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <div>
                                <legend   style="color: white;
                                            margin-top: 20px;   
                                            text-align: center "   >Log In Tunisme</legend>
                                </div>
                                <div   style="border: 1px solid black;
                                background-color: #00bcd4;
                                padding-top: 50px;
                                padding-right: 70px;
                                padding-bottom: 35px;
                                padding-left: 80px;
                                width: 300px;
                                height: 300px;
                                margin-top: 1Opx;
                                margin-bottom: 10px;
                                text-align: center;
                                border: 1px inset;
                                padding: 10px;
                                 box-shadow: 10px 10px #012133;
                                 
                                 animation:  5s infinite;




                                ">
                                {{ form|crispy }}
                            </div>
                            </fieldset>
                            <div>
                                <div class="form-group" style="text-align:center">
                                    <button class="btn btn-info" type="submit" style="background:#00bcd4;padding: 12px 28px;border-radius: 12px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                                " > Log In</button>
                    
                                </div>
                            </div>
                            <div style="color:#ff9800; text-align: center;">Need an account?    <a  href="{% url 'register' %}" style="color:#034750">Sign Up Now</a>
                            </div>
                        </div>
                        </form>


                </div>
                <div class="col-6 col-md-4"></div>
              </div>
   
  
        </div>
    </div>
</body>
</html>
{% endblock content %}